<!-- app/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
 <div id="pageWrapper">
    <header>App_Name</header>
    <div id="contentWrapper">
        <div class="table-wrap">
            <div class="cell col1">
                <div class="content">
			<a class="twitter-timeline"  href="https://twitter.com/hashtag/Apple" data-widget-id="911756871396143104">#Google Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
            </div>
            <div class="cell col2">
                <div class="content"><!-- TradingView Widget BEGIN -->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "width": 825,
  "height": 530,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "America/El_Salvador",
  "theme": "Light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "hideideas": true
});
</script>
<!-- TradingView Widget END -->
</div>
            </div>
        </div>
    </div>
    <div id="footerWrapper">Prediction_Word_of_Wisdom</div>
</div>
    </body>
</html>